.main{
  background-color: black;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
 align-items: center;
  padding: 1rem 2rem;
  z-index: 9;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
 
}

/* Header after scrolling */
.header.scrolled {
  background-color:rgba(0, 0, 0, 0.916);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.logo img{
  max-width: 100%;
  width: 300px;
  transition: transform 0.3s ease;
  background: transparent;      /* Remove background */
  width: 120px;                 /* Adjust width */
  height: auto;                 /* Maintain aspect ratio */
  object-fit: contain;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}


.item ul{
  display: flex;
}

.item ul li {
  list-style-type: none;
}
.item ul li a {
  text-decoration: none;
  color: #ffffffcc; /* light white */
  transition: color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 50;
}

.item ul li a:hover {
  color: #1fcfcf; /* accent color on hover */
  transform: translateX(4px); /* subtle hover shift */
  font-weight: 500;
}

#background-video{
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
.item ul{

  margin-top: 12px;
}

.video{
  position: relative;
}
.rec{
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 0.6; /* Adjust transparency */
  z-index: 2;
}

.rec img {
  width: 140%; /* Adjust size */
 height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.devfolio-container {
  top: 100%;
  right: 10%;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 2rem;
}

.devfolio-button {
  display: flex;
  align-items: center;
  background-color: #0f0f0f;
  color: #ffffff;
  border: 2px solid #00f0ff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.devfolio-button:hover {
  background-color: #00f0ff;
  color: #000;
}
/* 
.devfolio-logo {
  height: 10px;


  margin-right: 10px;
} */

.devfolio-button img{
  width: 80px;

}

